.crew {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.crew_card {
  display: flex;
  justify-content: space-between;
}

.member > h2 {
  font-family: "Bellefair", serif;
  font-size: 2rem;
  font-weight: 400;
  color: gray;
  margin-top: 7rem;
}

.member > h1 {
  font-family: "Bellefair", serif;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 1rem;
}

.member > p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: hsl(231, 77%, 90%);
  letter-spacing: 0.1rem;
  height: 10rem;
  width: 35vw;
  margin: 2rem 0 4rem;
}

.crew_card_photo {
  height: 72vh;
}

/* ----------- MEDIA -------------- */

@media screen and (max-width: 770px) {
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  .crew_card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
  }
  .member > h2 {
    margin-top: 4rem;
  }
  .member > p {
    height: 8rem;
    width: 100%;
    margin: 2rem 0 2rem;
  }
}

@media screen and (max-width: 500px) {
  .crew {
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
  .crew_card {
    flex-direction: column-reverse;
  }
  .crew_card_member {
    display: flex;
    flex-direction: column-reverse;
  }
  .member > h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .member > h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .member > p {
    height: 16rem;
    width: 100%;
    margin: 2rem 0 2rem;
  }
  .crew_card_photo {
    height: 100%;
  }
  .crew_card_photo > img {
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 2rem;
    object-fit: contain;
  }
}
