.technology {
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.technology_card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5vw;
}

.technology_card_info {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.nav_tech_group {
  display: flex;
  flex-direction: column;
}

.technology_card_terminology {
  max-width: 38vw;
}

.technology_card_terminology > h2 {
  color: hsl(231, 77%, 90%);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.technology_card_terminology > h1 {
  font-family: "Bellefair", serif;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 1rem;
}

.technology_card_terminology > p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: hsl(231, 77%, 90%);
  letter-spacing: 0.1rem;
  height: 10rem;
  margin: 2rem 0 4rem;
}

/* ----------- MEDIA -------------- */

@media screen and (max-width: 770px) {
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
  .technology_card {
    flex-direction: column-reverse;
  }

  .technology_card_info {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav_tech_group {
    flex-direction: row;
  }
  .technology_card_terminology {
    max-width: 90%;
  }
  .technology_card_img > img {
    width: 100%;
    object-fit: contain;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .technology {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
  }
  .technology_card_terminology > h1 {
    font-size: 2rem;
  }
  .technology_card_terminology > p {
    line-height: 1.6rem;
    height: 14rem;
    margin: 2rem 0 2rem;
  }
}
